```
# Flutter/Dart
.dart_tool/
.build/
.packages
flutter_export_environment.sh
**/ios/.generated/
**/android/.generated/

# Dependencies
.pub-cache/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Environment
.env
.env.local
*.env.*

# Logs
*.log
**/logs

# OS generated
.DS_Store
Thumbs.db
```